[submodule "1st-semester/computer-science/full"]
	path = 1st-semester/computer-science/full
	url = https://github.com/Demid0itmo/s1-compscience-full
	branch = main
[submodule "2nd-semester/databases/full"]
	path = 2nd-semester/databases/full
	url = https://github.com/Demid0itmo/s2-db-full
	branch = main
[submodule "1st-semester/programming/lab2"]
	path = 1st-semester/programming/lab2
	url = https://github.com/Demid0itmo/s1-prog-lab2
	branch = main
[submodule "1st-semester/programming/lab3"]
	path = 1st-semester/programming/lab3
	url = https://github.com/Demid0itmo/s1-prog-lab3
	branch = main
[submodule "1st-semester/programming/lab4"]
	path = 1st-semester/programming/lab4
	url = https://github.com/Demid0itmo/s1-prog-lab4
	branch = main
[submodule "2nd-semester/programming/lab5"]
	path = 2nd-semester/programming/lab5
	url = https://github.com/Demid0itmo/s2-prog-lab5
	branch = main
[submodule "2nd-semester/programming/lab6"]
	path = 2nd-semester/programming/lab6
	url = https://github.com/Demid0itmo/s2-prog-lab6
	branch = main
[submodule "2nd-semester/programming/lab7"]
	path = 2nd-semester/programming/lab7
	url = https://github.com/Demid0itmo/s2-prog-lab7
	branch = main
[submodule "1st-semester/professional-activity-basics/lab1"]
	path = 1st-semester/professional-activity-basics/lab1
	url = https://github.com/Demid0itmo/s1-opd-lab1
	branch = main
[submodule "1st-semester/professional-activity-basics/lab2"]
	path = 1st-semester/professional-activity-basics/lab2
	url = https://github.com/Demid0itmo/s1-opd-lab2
	branch = main
[submodule "3rd-semester/web-programming/lab1"]
	path = 3rd-semester/web-programming/lab1
	url = https://github.com/Demid0itmo/s3-web-lab1
	branch = main
[submodule "3rd-semester/web-programming/lab2"]
	path = 3rd-semester/web-programming/lab2
	url = https://github.com/Demid0itmo/s3-web-lab2
	branch = main
[submodule "3rd-semester/web-programming/lab3"]
	path = 3rd-semester/web-programming/lab3
	url = https://github.com/Demid0itmo/s3-web-lab3
	branch = main
[submodule "3rd-semester/web-programming/lab4"]
	path = 3rd-semester/web-programming/lab4
	url = https://github.com/Demid0itmo/s3-web-lab4
	branch = main
[submodule "3rd-semester/programming-languages/lab1"]
	path = 3rd-semester/programming-languages/lab1
	url = https://github.com/Demid0itmo/s3-yapi-lab1
	branch = main
[submodule "4th-semester/algorithms-and-data-structures/full"]
	path = 4th-semester/algorithms-and-data-structures/full
	url = https://github.com/Demid0itmo/s4-algos-full
	branch = main
[submodule "4th-semester/computational-math/full"]
	path = 4th-semester/computational-math/full
	url = https://github.com/Demid0itmo/s4-compmath-full
	branch = main
[submodule "4th-semester/optimization-methods/full"]
	path = 4th-semester/optimization-methods/full
	url = https://github.com/Demid0itmo/s4-metop-full
	branch = main
[submodule "4th-semester/software-engineering-basics/lab1"]
	path = 4th-semester/software-engineering-basics/lab1
	url = https://github.com/Demid0itmo/s4-opi-lab1
	branch = main
[submodule "4th-semester/software-engineering-basics/lab2"]
	path = 4th-semester/software-engineering-basics/lab2
	url = https://github.com/Demid0itmo/s4-opi-lab2
	branch = main
