[submodule "1st-semester/computer-science/full"]
	path = 1st-semester/computer-science/full
	url = https://github.com/Demid0itmo/s1-compscience-full
	branch = main
[submodule "2nd-semester/databases/full"]
	path = 2nd-semester/databases/full
	url = https://github.com/Demid0itmo/s2-db-full
	branch = main
[submodule "1st-semester/programming/lab2"]
	path = 1st-semester/programming/lab2
	url = https://github.com/Demid0itmo/s1-prog-lab2
	branch = main
[submodule "1st-semester/programming/lab3"]
	path = 1st-semester/programming/lab3
	url = https://github.com/Demid0itmo/s1-prog-lab3
	branch = main
[submodule "1st-semester/programming/lab4"]
	path = 1st-semester/programming/lab4
	url = https://github.com/Demid0itmo/s1-prog-lab4
	branch = main
[submodule "2nd-semester/programming/lab5"]
	path = 2nd-semester/programming/lab5
	url = https://github.com/Demid0itmo/s2-prog-lab5
	branch = main
[submodule "2nd-semester/programming/lab6"]
	path = 2nd-semester/programming/lab6
	url = https://github.com/Demid0itmo/s2-prog-lab6
	branch = main
